.addnew {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
.widgets {
  flex: 0.3;
  background-color: white;
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 1px;
  border-radius: 20px;
  margin-left: 20px;
  width: 300px;
}
.widgets__input > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 10px;
  border-color: rgb(227, 227, 227);
  font-size: 15px;
  color: #0085FF;
  border: #0085FF;
  border-width: 2px;
}
.widgets__searchIcon {
  color: rgb(255, 255, 255);
}
.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background: linear-gradient(#0085FF, #00C2FF);
  border-radius: 20px;
  color: white;
  margin-right: 10px;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}

.widget__optie {
  display: flex;
  padding: 20px;

  cursor: pointer;
  border-bottom: 2px solid #f6f6f6;
}

.widget__optie:hover {
  background-color: #ebebeb;
}
.widget__optie__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.widget__optie__info {
  margin-left: 15px;
}

a {
  text-decoration: none !important;
  color: black;
}
