.group2{
    display:flex;
    flex-direction: column;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height:100%;
}
.group2_header{
    display:flex;
    font-weight: bold;
    font-size: 25px;
    margin-right: auto;
    border-bottom: 1px solid #0085FF;
    width:100%;
    color:#0085FF;


}
.group2_con{
    display:flex;
    flex-direction: column;
    margin-top: 20px;

}
.group2_con_elm{
    display:flex;
    width:100%;
    height:50px;
   
    justify-content: space-between;
}
.group2_con_elm_rank {
    display: flex;
    width: 25%;
    height: 100%;
}
.group2_con_elm_name {
    display: flex;
    width: 25%;
    height: 100%;
    font-weight: bold;
    color:#0085FF;
}
.group2_con_elm_name:hover {
    cursor: pointer;
   opacity: 0.7;
}
.group2_con_elm_water {
    display: flex;
    width: fit-content;
    height: 100%;
    font-weight: bold;
    color: #0085FF;
}
.group2_con_elm_streak{
    display: flex;
    width: 12.5%;
    height: 100%;
}
.group_icon_g{
    color:#DAA520;
}
.group_icon_s{
    color:#c0c0c0;
}
.group_icon_b{
    color:#956339;
}
.group_icon_w{
    color:burlywood;
}