.post__commentsContainer {
  display: flex;
  z-index: 100;
  flex-direction: column;

  position: absolute;
  left: 40%;
  top: 20%;
}
.comments {
  display: flex;
  border-radius: 20px;
  z-index: 100;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
  color: black;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 40%;
  left: 40%;
}
.comments__body {
  display: flex;
  flex-direction: column;
  height: 390px;
}
.comments > button {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: red;
}
.comments > button:hover {
  cursor: pointer;
}
.post__comments__header {
  display: flex;
  place-content: center;

  border-bottom: 1px solid white;
}

.comments__input > form {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.post__form__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  height: 30px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
.post__form__button {
  cursor: pointer;
}
.comments__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}
.comments__footer > form {
  flex: 1;
  display: flex;
}
.comments__footer > form > input {
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
}
.comments__footer > form > button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-size: 25;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  height: 30px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  padding: 20px;
}
.comments__footer > form > button:hover {
  cursor: pointer;
}
