.notifications {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}
.notifications__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.notifications__optie {
  display: flex;
  padding: 20px;

  cursor: pointer;
  border-bottom: 2px solid #f6f6f6;
}

.notifications__optie:hover {
  background-color: #ebebeb;
}

.notifications__optie__info {
  margin-left: 15px;
  font-size: 10px;
}

.chat__optie__avatar {
  display: flex;
  flex-direction: row;
}
