@import "https://fonts.googleapis.com/css?family=Comfortaa";

*{
  box-sizing: border-box;
}

.login_bg{
  background-image: url("../../src/images/background_big_2.png");
  z-index: -10;
  background-position: left 0 top 0;
}

.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex: 0.25;
  place-items: center;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
}

.login__container {
  font-family: 'Comfortaa', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 60px;
}

.header_logo_link {
  width: 300px;
  height: 300px;
}

.header_logo_link .header__logo {
  width: 100%;
  height: 100%;
}

.login__container > form > h5 {
  margin-bottom: -28px;
  font-size: 13px;
  font-weight: bolder;
}

.login__container > form > input:hover{
  background-color: #acacac;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  border-radius: 10px;
  background-color: rgb(227, 227, 227);
  border-color: rgb(227, 227, 227);
  font-size: 15px;
  transition-duration: 0.4s;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
  outline: none;

}

.header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.header_logo_link .header__logo {
  width: 100%;
  height: 100%;
}

.login_form{
  align-items: center;
  place-content: center;
}

.login__button:hover {
  background: linear-gradient(#0974d8, #0dafe0);
  border-color: #0974d8;
  color: #d0cdcd;
}

.login__button {
  display:flex;
  background: linear-gradient(#0085FF, #00C2FF);
  border-radius: 25px;
  height: 50px;
  width: 120px;
  border-color: #0085FF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 'Comfortaa', serif;
  font-size: 25px;
  color: #fefefe;
  transition-duration: 0.3s;
  font-weight: 700;
  align-items: center;
  place-content: center;
}

.login__registerButton:hover {
  background: linear-gradient(#acaeb0, #afb1b2);
  border-color: #0b61b0;
  color: #000000;
}

.login__registerButton {
  display:flex;
  background: linear-gradient(#edeff1, #e3e7e9);
  border-radius: 25px;
  height: 35px;
  width: 100px;
  border-color: #0085FF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: center;
  place-content: center;
  font-family: 'Comfortaa', serif;
  font-size: 17px;
  color: #636363;
  transition-duration: 0.4s;
  border-width: 4px;
  font-weight: bold;
}

.login__forgotpasswordbutton {
  display:flex;
  height: 30px;
  width: 120px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 15px;
  font-family: 'Comfortaa', serif;
  font-size: 12px;
  color:black;
  align-items: center;
  place-content: center;
}
.login__forgotpasswordbutton:hover {
  cursor: pointer;
  font-weight: 700;
}

.login__popup {
  display: flex;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  color: var(--twitter-color);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}

