.water{
    flex: 0.5;
        border-right: 1px solid var(--twitter-background);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
       
        height:100%;
        background-color: white !important;
}
.water_top_elm_changeCon{
    display:flex;
    /* border:1px solid black; */
    width:100%;
}
.water_top_elm_changeCon_elm {
    display: flex;
    /* border: 1px solid black; */
    width: 30%;
    justify-content: center;
    padding:10px;
    color:#0085FF;
   
}
.water_top_elm_changeCon_elm:hover {
cursor: pointer;
}
.water_icon_left{
    display:flex;
    margin-right: auto;
    color: #0085FF;
}
.water_icon_right {
    display: flex;
    margin-left: auto;
    color: #0085FF;
}
.water_icon_left:hover {
    cursor: pointer;
}

.water_icon_right:hover {
    cursor: pointer;
}
.waterMain {
    display: flex;
   background-color: var(--twitter-color);
   border-radius: 20px;
   color:white;
   
}
.water::-webkit-scrollbar {
    display: none;
}
.water__header {
    position: sticky;
    top: 0;
    background-color: #0085FF;
    z-index: 100;
    
    padding: 15px 20px;
    color:white;
}
.water_table_con{
    display:flex;
    flex-direction: column;
    width:100%;
   align-items: center;
   place-content: center;
    /* border: 1px solid black; */
}
.water_icon{
    color:#0085FF;
}
.water_icon:hover {
   cursor: pointer;
}
.water_table_con_h{
    display:flex;
    font-weight:bold;
    font-size: 20px;
    padding:10px;
    align-items: center;
    color:#0085FF;
}
.water_h_icon{
    display:flex;
    margin-left: 10px;

}
.water_h_icon:hover {
    cursor: pointer;

}
.water_table {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
}
.water_today{
display:flex;
flex-direction: column;
margin-top: 20px;
width:80%;
margin-left: auto;
    margin-right: auto;
}
.water_today_h{
    display:flex;
    font-weight: bold;
    font-size: 22px;
    margin-right: auto;
        width:100%;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
}
.water_today_con{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    /* border: 1px solid black; */
    align-items: center;
        place-content: center;
}
.water_today_con_val{
    display:flex;
    margin-right: 5px;
    
   
}
.water_today_con_plus{
    display:flex;
}
.water_today_con_plus:hover {
    cursor: pointer;
}
.water_today_streak{
    display: flex;
        /* font-weight: bold;
        font-size: 22px; */
       
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
}
.water_today_title{
    display:flex;
    font-weight: bold;
    font-size: 22px;
    margin-right: auto;
    align-items: center;
}
.water_today_value {
    display: flex;
    font-weight: 500;
    font-size: 22px;
    margin-left: auto;
    align-items: center;
}
.water_top{
    display:flex;
    width: 100%;
}
.water_top_elm{
    display:flex;
    flex-direction: column;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
   
}
.water_top_elm_h{
    display:flex;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    color:#0085FF;
}
.water_top_elm_val {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 50%;
    border:1px solid #0085FF;
    width: 100px;
    height: 100px;
    padding:20px;
    align-items: center;
    place-content: center;
    color:#0085FF;
}